<!DOCTYPE html>
<html>

<head>
    <title>Administrador</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
</head>

<body>


    <nav>
        <div class="nav-wrapper" style="background-color: #363636;">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/administrador/">Empresas</a></li>
                <li><a class="modal-trigger" href="#modal2">Intercambio</a></li>
                <li><a href="/addBonos/">Bonificaciones</a></li>
                <b>
                    <li><a class="dropdown-trigger" data-target="dropdown1">{{name}}<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                </b>
            </ul>
        </div>
    </nav>

    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/signout/">Salir</a></li>
    </ul>

    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <form class="col s12" action="/intercambio/" method="POST" onsubmit="return openmodal3()">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <select id="select" name="nombreEmpresa" autofocus>
                                    {%for empresa in empresas%}
                                    <option>{{empresa.nombreEmpresa}}</option>
                                    {% endfor %}
                                </select>
                                <label>Nombre de la empresa</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">favorite</i>
                                <select id="select" name="tipoMaterial" autofocus>
                                    <option value="1">Plástico</option>
                                    <option value="2">Vidrio</option>
                                    <option value="3">Cartón - Papel</option>
                                    <option value="4">Metal</option>
                                </select>
                                <label>Tipo de Material</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">insert_comment</i>
                                <input id="icon_prefix" type="number" class="validate" name="peso" autofocus>
                                <label for="icon_prefix">Peso en kilogramos</label>
                            </div>
                            <center><button id="submit" class="modal-close btn"
                                    style="background-color:#2d572c;">Enviar</button></center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="centered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>NIT</th>
                    <th>Correo</th>
                    <th>Clave</th>
                    <th>Dirección</th>
                    <th>Puntaje</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for empresa in empresas %}
                <tr>
                    <td>{{ empresa.nombreEmpresa }}</td>
                    <td>{{ empresa.NIT }}</td>
                    <td>{{ empresa.correo }}</td>
                    <td>{{ empresa.clave }}</td>
                    <td>{{ empresa.direccion }}</td>
                    <td>{{ empresa.puntos }}</td>
                    <td><button type="button" class="yellow accent-4 btn modal-trigger" href="#modal1">Editar</button>
                    </td>
                    <td><a onclick="alert('Empresa eliminada exitosamente')" class="btn red darken-4" href="/eliminar/{{empresa.nombreEmpresa}}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    {% for empresa in empresas %}
    <div id="modal1" class="modal">
        <form action="/editar/" method="POST">
            <div class="modal-content">
                <div class="row">
                    {% csrf_token %}
                    <div class="col s6">
                        <input value="{{empresa.nombreEmpresa}}" type="text" name="nombreEmpresa" class="form-control"
                            placeholder="Nombre de la empresa">
                    </div>
                    <div class="col s6">
                        <input value="{{empresa.NIT}}" type="text" name="NIT" class="form-control" placeholder="NIT">
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input value="{{empresa.correo}}" name="correo" type="text" class="form-control"
                            placeholder="Correo">
                    </div>
                    <div class="col s6">
                        <input value="{{empresa.clave}}" name="clave" type="text" class="form-control"
                            placeholder="Clave">
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input value="{{empresa.direccion}}" type="text" name="direccion" class="form-control"
                            placeholder="Dirección">
                    </div>
                    <div class="col s6">
                        <input value="{{empresa.puntos}}" type="text" name="puntos" class="form-control"
                            placeholder="Puntaje">
                    </div>
                </div>
                <div class="row">
                    <div type="number" name="idtipousuario" class="input-field col s6">
                        <select>
                            <option value="1">Empresa</option>
                            <option value="2">Administrador</option>
                        </select>
                        <label>Tipo de usuario</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close btn red darken-4">Cerrar</a>
                <a class="btn light-green darken-3">Guardar cambios</a>
            </div>
            {% endfor %}
        </form>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>
    <script>  document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
        });

        // Or with jQuery

        $('.dropdown-trigger').dropdown();
    </script>

</body>

</html>