<!DOCTYPE html>
<html>

<head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>



    <nav>
        <div class="nav-wrapper" style="background-color: #363636;">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/inicio/">Inicio</a></li>
                <li><a class="modal-trigger" href="#modal1">Intercambio</a></li>
                <li><a href="/bonos/{{name}}">Bonificaciones</a></li>
            </ul>
        </div>
    </nav>

    <div class="parallax-container">
        <div class="parallax"><img
                src="https://lh6.googleusercontent.com/OfjtC7ZpFnWC2eXtEUHxjm4oITB5nAwqOQKVqH8S25vDi9lVN2pubXiHZW2zYMwNbAAAdjM_s4p7mkS6I2nrO2LfsY50nxV_WpTqx58btSmDG2jBan-wCFjNOHSxmZdPqg=w1280">
        </div>
    </div>


    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center"><i class="medium material-icons" style="color:#2d572c;">grade</i></h2>
                        <h5 class="center">Speeds up development</h5>

                        <p class="center">We did most of the heavy lifting for you to provide a default stylings that
                            incorporate our custom components. Additionally, we refined animations and transitions to
                            provide a smoother experience for developers.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center"><i class="medium material-icons" style="color:#2d572c;">person</i></h2>
                        <h5 class="center">Speeds up development</h5>

                        <p class="center">We did most of the heavy lifting for you to provide a default stylings that
                            incorporate our custom components. Additionally, we refined animations and transitions to
                            provide a smoother experience for developers.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center"><i class="medium material-icons" style="color:#2d572c;">loyalty</i></h2>
                        <h5 class="center">Speeds up development</h5>

                        <p class="center">We did most of the heavy lifting for you to provide a default stylings that
                            incorporate our custom components. Additionally, we refined animations and transitions to
                            provide a smoother experience for developers.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <form class="col s12" action="/intercambio/{{name}}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_prefix" type="text" name="nombreEmpresa" value="{{name}}" class="validate" autofocus>
                                <label for="icon_prefix">Nombre de la empresa</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">favorite</i>
                                <select id="select" name="tipoMaterial" autofocus>
                                    <option value="1">Plástico</option>
                                    <option value="2">Vidrio</option>
                                    <option value="3">Cartón - Papel</option>
                                    <option value="4">Metal</option>
                                </select>
                                <label>Tipo de Material</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">insert_comment</i>
                                <input id="icon_prefix" type="number" class="validate" name="peso" autofocus>
                                <label for="icon_prefix">Peso en kilogramos</label>
                            </div>
                            <center><button id="submit" class="modal-close btn" style="background-color:#2d572c;">Enviar</button></center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.parallax');
            var instances = M.Parallax.init(elems);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('.modal').modal();
        });

    </script>
    <script>  document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('select').formSelect();
        });</script>
</body>

</html>